/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  color: #0082f3;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
/* HEADER */
.header {
  padding-top: 18px;
  padding-bottom: 18px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
}
.logo-text {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69b9ff;
  user-select: none;
}
.sitenav {
}
.sitenav-list {
  display: flex;
}
.sitenav-item:not(:last-child) {
  margin-right: 40px;
}
.sitenav-link {
  font-size: 15px;
  line-height: 20px;
}

/* MAIN */
.main {
  flex-grow: 1;
}
/* HERO */
.hero {
  padding-top: 184px;
  padding-bottom: 200px;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 59px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 107px;
}
.hero-buttons {
  display: flex;
  gap: 20px;
}
.btn {
  color: #fff;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 4px;
  transition: 0.3;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #69b9ff;
  border-color: transparent;
}
.btn-active {
  background-color: #69b9ff;
  border-color: transparent;
}
.btn-active:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
/* Doing section */
.doing {
}
.doing-container {
  padding-top: 77px;
  padding-bottom: 103px;
  margin-left: auto;
  margin-right: auto;
}

.doing-titel {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
  color: #676770;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.doing-descr {
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: #8e8e9c;
  text-transform: uppercase;
  margin-bottom: 62px;
}
.doing-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.doing-item {
  width: 300px;
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-img {
  width: 94px;
  height: 94px;
  display: flex;
}
.item-title {
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 7px;
  text-align: center;
  color: #676770;
  text-transform: uppercase;
}
.item-descr {
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #6a859c;
}
/* SERVICE SECTION */
.servise-section {
  background-color: #192024;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 77px;
  padding-bottom: 95px;
}
.container {
}
.service-title {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
}
.servise-descr {
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #e8e8e8;
  margin-bottom: 77px;
}
.service-hero {
}
.servise-list {
  display: flex;
  gap: 50px;
}
.servise-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-img {
  margin-bottom: 20px;
}
.servise-item-title {
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.service-item-descr {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 17px;
}
.service-item-link {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 11px 31px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
/* TAB SECTION */
.tab-section {
}
.tab-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 90px;
  flex-direction: column;
}
.container {
}
.tab-title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #8e8e9c;
  margin-bottom: 17px;
}
.tab-descr {
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: #8e8e9c;
  text-transform: uppercase;
  margin-bottom: 73px;
}
.tab-button-div {
  margin-bottom: 53px;
}
.tab-button {
  padding: 1px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #92a0ad;
}
.tab-button:not(:last-child) {
  margin-right: 16px;
}
.active {
  background-color: #2e80b6;
}
.tab-img {
  display: flex;
  margin-bottom: 16px;
}
.tab-bottom-title {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #676770;
  margin-bottom: 14px;
}
.tab-bootom-descr {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #6a859c;
}
/* FOOTER SECTION */
.footer {
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 40px;
}
.container {
}
.footer-list {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
}
.footer-item {
  width: 320px;
}
.item-title {
  margin-bottom: 25px;
  text-align: left;
}
.item-descr {
  text-align: left;
  padding-right: 15px;
}
.footer-item-list {
}
.footer-item-item {
  display: flex;
  width: 300px;
  border-bottom: 1px solid #d5d5e0;
  align-items: center;
}
.item-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #668cad;
  padding-bottom: 12px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.item-item-img {
  display: flex;
  margin-right: 11px;
}
.footer-buttom {
  background-color: #383838;
}
.footer-buttom-descr {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #9e9e9e;
  padding-top: 40px;
  padding-bottom: 40px;
}
